<div id="main" class="main-body-about">
    <div class="content-container">
        <div class="content-left">
            <h1 class="about-us-title">Hand built wheels</h1>
            <h2 class="about-us-title-h2">We are big believers in hand built wheels. Hand built wheels are something we offered from the very first day we opened and they are still one of our core services.</h2>
            <p>There is nothing like a pair of hand made hoops. Wheel building machines are getting better all the time but theyre still some way off the quality achievable from an experienced pair of hands.</p>
            <p>When we say "hand built", we mean it. Our wheels aren't machine laced and hand finished. All our wheels are totally hand built from the first spoke to the final true.</p>
            <p>We only use the finest ingredients from top quality manufacturers like Mavic, Shimano, Chris King, Stan's and our fellow Lancastrians at Hope.</p>
            <p>Wheel building is an art. Our resident artist Tony is the best in the business. Tony builds wheels. It's the only thing that Tony does. Born to build wheels. Which is just as well because our wheels are in such demand that it's a full-time occupation keeping on top of orders. When you're buying hand built wheels from us, you're buying a pair of Tony's creations.</p>
            <p>These top quality wheels don't come with a top end price tag. We are able to offer great prices on great wheels because we buy big. At any one point we have over 1000 pair of hubs and rims in stock and enough spokes to go around the world (probably!)</p>
        </div>
        <div class="content-right">
            <div class="first-img">.</div>
        </div>
    </div>
    <div class="content-container">
        <div class="content-left">
            <h1 class="about-us-title">How to Choose Your Wheel</h1>
            <ul class="how-to">
                <li>Step 1: Choose your wheel type (front or rear, Shimano or Hope or Chris King hub, 26" or 29")</li>
                <li>Step 2: Choose your hub (QR or 15mm or 20mm, Centrelock or 6-bolt)</li>
                <li>Step 3: Choose your rim (options from Mavic, DT Swiss or Stan's)</li>
                <li>Step 4: Choose your spokes (options from ACI or DT Swiss, silver or black)</li>
                <li>Step 5: Click "Order Now"</li>
            </ul>
            <h1 class="about-us-title">More About Spoke Choice</h1>
            <p>We use silver ACI stainless steel (S/S) double butted (DB) as standard, these offer excellent strength and reliability. You can upgrade to other spokes if you so wish. As a guide here are the options and their appropriate use.</p>
            <p>DT Swiss Competition S/S (silver or black) - a higher grade stainless steel double butted spoke suitable for XC, Trail or Freeride use.</p>
            <p>DT Swiss Revolution (silver or black) a very lightweight spoke for XC racing duties. NOT recommended for Freeride or Downhill use.</p>
            <p>We do not experience any problem with any of the black spokes that we sell, and cannot understand some shops reluctance to use them.</p>
        </div>
        <div class="content-right">
            <div class="second-img">.</div>
        </div>
    </div>
    <div class="content-container-lower">
        <h1 class="about-us-title">Frequently Asked Questions</h1>
        <div class="faq-container">
            <p class="p-faq"><b>Q: Do I get skewers?</b></p>
            <p class="p-faq">A: Yes with Shimano hubs. No with Hope and Chris King hubs. Skewers can be purchased separately if you require them.</p>
        </div>
        <div class="faq-container">
            <p class="p-faq"><b>Q: Do they include the freehub body?</b></p>
            <p class="p-faq">A: Yes all hubs include freehub body. Shimano, Hope and Chris King hubs take 8, 9 or 10 speeds cassettes as standard.</p>
        </div>
        <div class="faq-container">
            <p class="p-faq"><b>Q: Do I need rim tape?</b></p>
            <p class="p-faq">A: Yes for all rims apart from Stans. Rim tape can be purchased separately</p>
        </div>
        <h1 class="about-us-title">Build Time</h1>
        <p>The downside of the popularity for our hand built wheels is the build time. We try to keep this within 5-8 days but will always advise if any longer.</p>
    </div>
</div>