<div id="header" class="header">
    <ul class="header-list">
        <li><span class="nav-open-button" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span></li>
        <li><p></p></li>
    </ul>
    
</div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a ui-sref="app.createorder">Create order</a>
  <a ui-sref="app.track">Track progress</a>    
  <a ui-sref="app.contact">Contact</a>
  <a ui-sref="app.about">About</a>
  <a ui-sref="app.login">Login</a>
  <a ui-sref="app.orders">Order details dev</a>
  <a ui-sref="app.track">Track full dev</a>
  <a ui-sref="app.neworder">neworder dev</a>
  <a ui-sref="app.allorders">allordersdev</a>    
</div>
