<div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/358wsTXeOA0?controls=0&audio=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

<div id="vidtop-content">
    <div class="information">
        <h1>We build it tried and true.</h1>
        <p>Our wheels are ridden weekly by pro riders racing at the highest level as well as being ridden over countless Alpine passes, muddy cyclocross races and daily rides to work.</p>
        <button class="ordernow-button">ORDER NOW</button>
    </div>
</div>